/node_modules
/public/hot
/public/storage
/public/images
/storage/*.key
/vendor
.env
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
.idea/workspace.xml
.idea/vcs.xml
.idea/project_cms.iml
.idea/php.xml
.idea/modules.xml
.idea/misc.xml
.idea/jsLinters/jshint.xml
.idea/inspectionProfiles/Project_Default.xml
.gitattributes
.editorconfig
.styleci.yml
.idea/proj_jackilia.iml
